#title {
	background-color: #C3C3C3;
	display: block;
	margin-top: 0;
	width: 20%;
	height: 100px;
	float: left;
	
	font-family:  bebas_neue_regularregular;
	font-size: 5em;
	font-style: normal;
	text-decoration: none;
	color: black;
	text-align: center;
}

#title:hover {
	background-color: #7F7F7F;
}

#navbar {	
	background-color: #C3C3C3;
	display: block;
	margin-left	: 1%;
	margin-top: 0;
	width: 47%;
	height: 100px;
	float: left;
	
	list-style-type: none;

    padding: 0;
}

#navbar > li {
	font-family:  bebas_neue_regularregular;
	display: inline-block;
	font-size: 5em;
	height: 100%;
	margin-left: 10px;


}

#navbar > li:hover {
	background-color:  #7F7F7F;
	height: 100%
}


