html {
	background-color: #1F1F1F;
}

.navigation {
	width: 100%;
	height: auto;
	border: none;
	display: inline-block;
}

#maintiles {
	margin-left: 16%;
	margin-top: 10%;
	display: block;
	float: left;
	width: 68%;
	overflow: auto;
}

#maintiles > #big {
	width: 66%;
	height: 300px;
	display: inline-block;	
	background-color: #2997CC;
}

#smalltiles {
	
}

#smalltiles > li {
	width: 30%;
	height: 100px;
	background-color: #2997CC;
	display: inline-block;	
}
