html {
	background-color: #1F1F1F;
}

#title {
	background-color: #C3C3C3;
	display: block;
	margin-left: 16%;
	margin-top: 0;
	width: 20%;
	height: 100px;
	float: left;
	
	font-family:  bebas_neue_regularregular;
	font-size: 5em;
	font-style: normal;
	text-decoration: none;
	color: black;
	text-align: center;
}

#title:hover {
	background-color: #7F7F7F;
}

#navbar {	
	background-color: #C3C3C3;
	display: block;
	margin-left	: 1%;
	margin-top: 0;
	width: 40%;
	height: 100px;
	float: left;
	
	list-style-type: none;

    padding: 0;
}

#navbar > li {
	font-family:  bebas_neue_regularregular;
	display: inline-block;
	font-size: 5em;
	height: 100%;


}

#navbar > li:hover {
	background-color:  #7F7F7F;
	height: 100%
}

#maintiles {
	margin-left: 16%;
	margin-right: 16%;
	margin-top: 10%;
	display: block;
	float: left;
	width: 68%;
	overflow: auto;
}

#maintiles > #big {
	width: 66%;
	height: 300px;
	display: block;	
	background-color: #2997CC;
}

#smalltiles {
	
}

#smalltiles > li {
	width: 33%;
	height: 100px;
	background-color: #2997CC;
}
