
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			{% include nav.html %}
		</head>
		<body>
			<link rel="stylesheet" type="text/css" href="{{ "/font/stylesheet.css" | prepend: site.baseurl }}">
			<link rel="stylesheet" type="text/css" href="{{"/style.css" | prepend: site.baseurl }}">
			<link rel="stylesheet" type="text/css" href="{{"/font/w3.css" |  prepend: site.baseurl }}">
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
