<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			{% include nav.html %}
		</head>
		<body>
			<h1 class="w3-white">{{ page.title }}</h1>
			<br>
			<link rel="stylesheet" type="text/css" href="{{ "/font/stylesheet.css" | prepend: site.baseurl }}">
			<link rel="stylesheet" type="text/css" href="{{"/style.css" | prepend: site.baseurl }}">
			<link rel="stylesheet" type="text/css" href="{{"/font/w3.css" |  prepend: site.baseurl }}">
			<div class="w3-card-2 w3-cyan w3-col">
			
			{{ content }}
			
			</div><!-- /.container -->
			<h1 class="w3-white">Comments? Questions? Sent them to <a href="http://www.twitter.com/ijzm">@ijzm</a> via Twitter</h1>
		</body>
	</html>
